/* Общие стили */

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    background-color: #040C18;
    color: #fff;
    /* background-image: url(../image/what_is_gpt_3_bg.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; */
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    margin: 0;
}
a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
a:hover{
    transition: all 0.3s ease-out;
}
button{
    cursor: pointer;
    transition: all 0.3s ease-out;
}
button.btn-sign-primary:hover{
    transition: all 0.3s ease-out;
    background-color: #aa2f13;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1226px;
    margin: 0 auto;
}

/* Шапка */
.header{
    padding-top: 62px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 0;
}
.header-list{
    display: flex;
    gap: 46px;
    margin-left: 67px;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.nav-header a{
    font-size: 18px;
    transition: color 0.3s ease-out;
}
.nav-header a:hover {
    color: #FF4820;
}
.btn{
    display: flex;
    justify-content: flex-start;
    gap: 51px;
    align-items: center;
    margin-left: 249px;
}
.btn-sign{
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 0;
    height: auto;
    width: auto;
    transition: color 0.3s ease-out;
}
.btn-sign:hover{
    color: #aa2f13;
}
.btn-sign-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 58px;
    font-size: 18px;
    background: #FF4820;
    border-radius: 5px;
    border: none;
    color: #fff;
}

/* Welcome (основная секция) */
.welcome .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.welcome-wrapper{
    width: 700px;
    margin-top: 96px;
    flex-shrink: 0;
}
.welcome-left{
    margin-bottom: 33px;
    font-size: 62px;
    background: linear-gradient(to right, #AE67FA,#F49867);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    letter-spacing: -2 px;
}
.welcome-desk{
    margin-bottom: 44px;
    width: 554px;
    font-size: 20px;
    font-weight: 400;
    color: #81AFDD;
}
.welcome-image {
    margin-left: -95px;
}
.Email-welcome{
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 200;
    display: flex;
    width: 456px;
    height: 75px;
    font-size: 20px;
    background: #052D56;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    padding: 0 20px;
    box-sizing: border-box;
    opacity: 0.7;
    color: #fff;
}
.btn-welcome{
    display: flex;
    align-items: left;
    justify-content: left;
}
.welcome_start{
    width: 174px;
    height: 75px;
    font-size: 20px;
    background: #FF4820;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    color: #fff;
    transition: all 0.3s ease-out;
}
button.welcome_start:hover{
    transition: all 0.3s ease-out;
    background-color: #aa2f13;
}
.people-welcome {
    display: flex;
    align-items: center;
    margin-top: 37px;
}
.text-people{
    font-size: 12px;
    font-weight: 500;
    margin-left: 14px;
}
.welcome-web{
    display: flex;
    justify-content: center; /* Горизонтально */
    align-items: center; /* Вертикально */
    text-align: center;
    position: absolute;
    padding-top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    gap: 46px;
}